{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "env": {
      "node": true,
      "es6": true
    },
    "rules": {
      "no-cond-assign": [1,"except-parens"],
      "no-console": 1,
      "no-constant-condition": 2,
      "no-control-regex": 2,
      "no-debugger": 1,
      "no-dupe-args": 2,
      "no-dupe-keys": 2,
      "no-duplicate-case": 2,
      "no-empty": 2,
      "no-ex-assign": 2,
      "no-extra-boolean-cast": 2,
      "no-extra-semi": 2,
      "no-func-assign": 2,
      "no-inner-declarations": [2,"functions"],
      "no-invalid-regexp": 2,
      "no-irregular-whitespace": 2,
      "no-negated-in-lhs": 2,
      "no-obj-calls": 2,
      "no-regex-spaces": 2,
      "no-sparse-arrays": 2,
      "no-unreachable": 2,
      "use-isnan": 2,
      "valid-typeof": 2,
      "no-alert": 1,
      "no-eval": 2,
      "no-fallthrough": 1,
      "no-implied-eval": 1,
      "no-octal": 1,
      "no-redeclare": [2,{"builtinGlobals":true}],
      "no-undef": 2,
      "no-unused-vars": 2,
      "callback-return": 2,
      "no-mixed-spaces-and-tabs": 2,
      "no-trailing-spaces": [1,{"skipBlankLines":false}],
      "no-var": 2
    }
  }
